n8n/workflows/WhatsApp Real Estate Bot.json
{
  "name": "WhatsApp Real Estate Bot Final",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-realestate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "11893985-4878-4c1c-9e13-4dfa15a4bafd",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -672,
        144
      ],
      "webhookId": "36a63a28-aae4-4a91-b840-89dab2d71e36"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst from = body.from || body.sender || body.phone || '';\nconst type = body.type || 'text';\nconst text = body.text?.body || body.text || body.message || '';\nconst audioUrl = body.audio?.url || body.audioUrl || '';\nconst imageUrl = body.image?.url || body.imageUrl || '';\n\nreturn [{\n  json: {\n    from,\n    type,\n    text,\n    audioUrl,\n    imageUrl,\n    originalPayload: body\n  }\n}];"
      },
      "id": "33dab934-d8c6-49e0-9009-a2a7e412a25d",
      "name": "Parse & Normalize Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond_audio_image",
              "leftValue": "={{ $json.type }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond_image",
              "leftValue": "={{ $json.type }}",
              "rightValue": "image",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "e07d8c01-989a-4f51-b140-8ff63528fa4d",
      "name": "Input Type Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.groq.com/openai/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.audioUrl }}"
            },
            {
              "name": "model",
              "value": "whisper-large-v3"
            },
            {
              "name": "language",
              "value": "ar"
            },
            {
              "name": "response_format",
              "value": "json"
            }
          ]
        },
        "options": {}
      },
      "id": "03d5626d-0362-4a22-b3df-61dbe6e2e89b",
      "name": "Groq - Transcribe Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.2-90b-vision-preview\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"أنت خبير هندسة معمارية ووسيط عقاري محترف. مهمتك هي تحليل صورة العقار المرفقة بدقة شديدة وتوليد وصف نصي غني بالكلمات المفتاحية ليتم استخدامه في محرك بحث عقاري ذكي.\n\nصف المظهر الخارجي أو الداخلي للعقار في سطرين إلى ثلاثة أسطر كحد أقصى باللغة العربية، مع التركيز حصراً على العناصر التالية:\n\nالنمط المعماري: (مثال: بناء حديث، تصميم كلاسيكي، طراز ريفي، فيلا مودرن).\n\nنوع الواجهة والمواد: (مثال: واجهة حجرية، إكساء زجاجي بالكامل، تطعيم بالخشب، رخام).\n\nالألوان الطاغية: (مثال: ألوان ترابية دافئة، أبيض ناصع، رمادي مع أسود).\n\nالميزات المعمارية البارزة: (مثال: نوافذ بانورامية واسعة، شرفة ممتدة، سقف قرميد، تصميم هندسي غير تقليدي).\n\nتعليمات صارمة: أعطني الوصف مباشرة بدون أي مقدمات مثل \"تُظهر الصورة..\" أو ختامات. اكتب النص كفقرة واحدة متصلة وجاهزة للبحث.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"{{ $json.imageUrl }}\"\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"صف هذه الصورة بالتفصيل من منظور عقاري.\"\n        }\n      ]\n    }\n  ],\n  \"max_tokens\": 500\n}",
        "options": {}
      },
      "id": "8846f3f9-88c7-497e-a243-8b9a1de8da31",
      "name": "Groq - Describe Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.all();\nconst first = inputItems[0].json;\n\nlet originalText = first.text || \"\"; \nlet resolvedText = originalText;\n\nif (first.hasOwnProperty('transcript') && first.transcript) {\n  resolvedText = first.transcript;\n}\n\nif (first.choices && first.choices[0]?.message?.content) {\n  let imageDescription = first.choices[0].message.content.trim();\n  \n  if (originalText && originalText.trim() !== \"\") {\n    resolvedText = `${originalText}\\n🌟 (ملاحظة للنظام: العميل يبحث عن عقار يطابق هذا الوصف البصري: ${imageDescription})`;\n  } else {\n    resolvedText = imageDescription;\n  }\n}\n\nreturn [{\n  json:\n  { from: first.from,\n    type: first.type,\n    text: resolvedText,\n    audioUrl: first.audioUrl || '',\n    imageUrl: first.imageUrl || '',\n    originalPayload: first.originalPayload || {} \n  } \n}];"
      },
      "id": "62862220-4a72-4a9d-b1d5-3a65959ef966",
      "name": "Merge Media Back",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://qvhozbdoktphgyndtthy.supabase.co/rest/v1/rpc/get_or_create_user",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=sb_secret_1r3Tx42eB-cgIjoDL7wOhA_cCZ9rxKL"
            },
            {
              "name": "Authorization",
              "value": "=Bearer sb_secret_1r3Tx42eB-cgIjoDL7wOhA_cCZ9rxKL"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_whatsapp_number\": \"{{ $json.from }}\"\n}",
        "options": {}
      },
      "id": "f3c18c7c-b59a-4642-8745-8f56be3841df",
      "name": "Supabase - Get or Create User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        144
      ]
    },
    {
      "parameters": {
        "url": "=https://qvhozbdoktphgyndtthy.supabase.co/rest/v1/conversations",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "=eq.{{ $json.id }}"
            },
            {
              "name": "status",
              "value": "eq.active"
            },
            {
              "name": "order",
              "value": "created_at.desc"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=sb_secret_1r3Tx42eB-cgIjoDL7wOhA_cCZ9rxKL"
            },
            {
              "name": "Authorization",
              "value": "=Bearer sb_secret_1r3Tx42eB-cgIjoDL7wOhA_cCZ9rxKL"
            }
          ]
        },
        "options": {}
      },
      "id": "46b776a7-960c-4422-aa33-61f45fb31399",
      "name": "Supabase - Load Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        144
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const messageText = $('Merge Media Back').first().json.text || '';\nconst userRecord = $('Supabase - Get or Create User').first().json[0] || {};\nconst conversationArr = $('Supabase - Load Conversation').first().json || [];\nconst conversation = Array.isArray(conversationArr) ? conversationArr[0] : null;\n\n// Extract #PROPERTY_ID pattern\nconst match = messageText.match(/#([\\w-]+)/);\nconst propertyId = match ? match[1] : null;\n\n// Build context\nconst messages = conversation ? (conversation.messages || []) : [];\nconst conversationId = conversation ? conversation.id : null;\nconst listingId = conversation ? conversation.listing_id : null;\n\nreturn [{\n  json: {\n    from: $('Merge Media Back').first().json.from,\n    messageText,\n    type: $('Merge Media Back').first().json.type,\n    propertyId: propertyId || listingId,\n    isNewPropertyRequest: !!propertyId,\n    userId: userRecord.id,\n    userName: userRecord.name || null,\n    userPhone: userRecord.phone || null,\n    conversationId,\n    conversationMessages: messages,\n    userRecord\n  }\n}];"
      },
      "id": "23e5244c-9dba-46d1-a4f7-87cad1b14503",
      "name": "Extract Property ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        144
      ]
    },
    {
      "parameters": {
        "url": "=https://qvhozbdoktphgyndtthy.supabase.co/rest/v1/listings",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.propertyId }}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=sb_secret_1r3Tx42eB-cgIjoDL7wOhA_cCZ9rxKL"
            },
            {
              "name": "Authorization",
              "value": "=Bearer sb_secret_1r3Tx42eB-cgIjoDL7wOhA_cCZ9rxKL"
            }
          ]
        },
        "options": {}
      },
      "id": "1e904287-1b2b-444e-8e7b-dcb54f8491e3",
      "name": "Supabase - Check Listing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond_available",
              "leftValue": "={{ $json[0]?.status || 'available' }}",
              "rightValue": "available",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5e91b2ec-b008-4233-9648-b19fb8cf94e8",
      "name": "Listing Status Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1344,
        144
      ]
    },
    {
      "parameters": {
        "url": "=https://qvhozbdoktphgyndtthy.supabase.co/rest/v1/listings",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "=eq.{{ $('Supabase - Check Listing').item.json[0].category }}"
            },
            {
              "name": "location",
              "value": "=eq.{{ $('Supabase - Check Listing').item.json[0].location }}"
            },
            {
              "name": "status",
              "value": "eq.available"
            },
            {
              "name": "price",
              "value": "=gte.{{ Math.floor($('Supabase - Check Listing').item.json[0].price * 0.8) }}"
            },
            {
              "name": "price",
              "value": "=lte.{{ Math.ceil($('Supabase - Check Listing').item.json[0].price * 1.2) }}"
            },
            {
              "name": "limit",
              "value": "3"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=sb_secret_1r3Tx42eB-cgIjoDL7wOhA_cCZ9rxKL"
            },
            {
              "name": "Authorization",
              "value": "=Bearer sb_secret_1r3Tx42eB-cgIjoDL7wOhA_cCZ9rxKL"
            }
          ]
        },
        "options": {}
      },
      "id": "723823ac-eec1-4762-a39e-75de41b67c68",
      "name": "Supabase - Get Similar Listings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1792,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"أنت مستشار عقاري محترف اسمك نور. تتحدث باللغة العربية الفصحى فقط. مهمتك إبلاغ العميل بعدم توفر العقار المطلوب بأسلوب محترف ولطيف، ثم عرض البدائل المتاحة بطريقة مقنعة.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"العقار المطلوب غير متاح حالياً ({{ $('Supabase - Check Listing').item.json[0].name }}).\\n\\nالبدائل المتاحة:\\n{{ JSON.stringify($('Supabase - Get Similar Listings').item.json, null, 2) }}\\n\\nرسالة العميل: {{ $('Extract Property ID').item.json.messageText }}\"\n    }\n  ],\n  \"max_tokens\": 800,\n  \"temperature\": 0.7\n}",
        "options": {}
      },
      "id": "3819909a-84cb-4d40-8a43-7be5ed55a9d7",
      "name": "Groq - Generate Alternatives Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2016,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.cohere.com/v2/embed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer qtWv1qYiLblwzirPHFeTbBAItlkJEX7w3v1Lc20A"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"embed-multilingual-v3.0\",\n  \"texts\": [\"{{ $('Extract Property ID').item.json.messageText }}\"],\n  \"input_type\": \"search_query\",\n  \"embedding_types\": [\"float\"]\n}",
        "options": {}
      },
      "id": "f41acc25-3d17-48d5-b49a-d693a44f27b1",
      "name": "Cohere - Embed User Question",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://qvhozbdoktphgyndtthy.supabase.co/rest/v1/rpc/match_knowledge_base",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=sb_secret_1r3Tx42eB-cgIjoDL7wOhA_cCZ9rxKL"
            },
            {
              "name": "Authorization",
              "value": "=Bearer sb_secret_1r3Tx42eB-cgIjoDL7wOhA_cCZ9rxKL"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query_embedding\": {{ JSON.stringify($json.embeddings?.float?.[0] || $json.embeddings?.[0] || []) }},\n  \"listing_id\": \"{{ $('Extract Property ID').item.json.propertyId }}\",\n  \"match_threshold\": 0.1,\n  \"match_count\": 5\n}",
        "options": {}
      },
      "id": "45855403-d32d-4e4b-8e23-efadd8bdde55",
      "name": "Supabase - Query Knowledge Base",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1792,
        48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"أنت مستشار عقاري محترف اسمك \\\"نور\\\". تتحدث باللغة العربية الفصحى فقط.\\nمهمتك مساعدة العميل في الحصول على معلومات دقيقة حول العقار واتخاذ قرار الشراء أو الحجز.\\n\\nقواعد المحادثة:\\n- أجب دائماً بالعربية فقط\\n- كن ودوداً ومحترفاً وواثقاً\\n- استخدم المعلومات المتاحة في قاعدة المعرفة للإجابة على الأسئلة\\n- إذا لم تجد المعلومة، قل \\\"سأتحقق من هذا لك\\\"\\n- استخدم تقنيات الإقناع بشكل طبيعي: أبرز المزايا، خلق الإلحاحية بلطف، ربط احتياجات العميل بمميزات العقار\\n- راقب مستوى الاهتمام في المحادثة\\n\\nعند اكتشاف اهتمام جدي بالحجز (عندما يسأل عن موعد المعاينة، أو يقول \\\"أريد الحجز\\\"، أو \\\"كيف أتقدم\\\", أو يُظهر نية واضحة للمضي قدماً):\\n- أضف في نهاية ردك هذا النص بالضبط على سطر منفصل: [INTEREST_DETECTED]\\n\\nمعلومات العقار ستُزوَّد لك في كل رسالة ضمن قسم [معلومات العقار المتاحة].\"\n    },\n    ...{{ JSON.stringify($('Extract Property ID').item.json.conversationMessages.map(m => ({ role: m.role, content: m.content }))) }},\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $('Extract Property ID').item.json.messageText }}\\n\\n[معلومات العقار المتاحة]\\n{{ $('Supabase - Query Knowledge Base').item.json.map(chunk => chunk.content).join('\\n---\\n') }}\"\n    }\n  ],\n  \"max_tokens\": 1000,\n  \"temperature\": 0.7\n}",
        "options": {}
      },
      "id": "1acf37f8-c18b-406f-89a3-741eae14ddf6",
      "name": "Groq - Generate Consultation Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2016,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "// Determine which branch we came from\nlet rawReply = '';\nlet source = 'consultation';\n\ntry {\n  const consultReply = $('Groq - Generate Consultation Reply').item?.json;\n  if (consultReply?.choices?.[0]?.message?.content) {\n    rawReply = consultReply.choices[0].message.content;\n    source = 'consultation';\n  }\n} catch(e) {}\n\ntry {\n  const altReply = $('Groq - Generate Alternatives Reply').item?.json;\n  if (altReply?.choices?.[0]?.message?.content) {\n    rawReply = altReply.choices[0].message.content;\n    source = 'alternatives';\n  }\n} catch(e) {}\n\nconst interestDetected = rawReply.includes('[INTEREST_DETECTED]');\nconst cleanReply = rawReply.replace('[INTEREST_DETECTED]', '').trim();\n\nconst ctx = $('Extract Property ID').item.json;\n\nreturn [{\n  json: {\n    from: ctx.from,\n    messageText: ctx.messageText,\n    userId: ctx.userId,\n    userName: ctx.userName,\n    userPhone: ctx.userPhone,\n    conversationId: ctx.conversationId,\n    conversationMessages: ctx.conversationMessages,\n    propertyId: ctx.propertyId,\n    botReply: cleanReply,\n    interestDetected,\n    source,\n    userRecord: ctx.userRecord\n  }\n}];"
      },
      "id": "44f364f5-3e1a-431e-bad0-400f8e13b879",
      "name": "Detect Interest Flag",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond_interest",
              "leftValue": "={{ $json.interestDetected }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0075c7ef-3c44-48dc-8c71-a34929d82d6c",
      "name": "Interest Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2464,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const { userName, userPhone, conversationMessages, messageText, from, userId, conversationId, propertyId, botReply } = $json;\n\n// Determine what data collection stage we're at\nlet collectionStage = 'complete';\n\nif (!userName) {\n  collectionStage = 'awaiting_name';\n} else if (!userPhone) {\n  // Check if last bot message was asking for phone and user just replied\n  const lastBotMsg = [...conversationMessages].reverse().find(m => m.role === 'assistant');\n  if (lastBotMsg && lastBotMsg.content && lastBotMsg.content.includes('رقم هاتفك')) {\n    // User's current message should be the phone number\n    collectionStage = 'save_phone';\n  } else {\n    collectionStage = 'awaiting_phone';\n  }\n} else {\n  // Check if we have appointment\n  const lastBotMsg = [...conversationMessages].reverse().find(m => m.role === 'assistant');\n  if (lastBotMsg && lastBotMsg.content && lastBotMsg.content.includes('موعد المعاينة')) {\n    collectionStage = 'save_appointment';\n  } else if (!conversationMessages.some(m => m.role === 'assistant' && m.content.includes('موعد المعاينة'))) {\n    collectionStage = 'awaiting_appointment';\n  } else {\n    collectionStage = 'complete';\n  }\n}\n\n// Parse appointment from message if saving\nlet appointmentDate = null;\nlet appointmentTime = null;\nif (collectionStage === 'save_appointment') {\n  // Simple regex to extract date patterns from Arabic text\n  const dateMatch = messageText.match(/(\\d{1,2}[\\/-]\\d{1,2}[\\/-]\\d{2,4})/);\n  const timeMatch = messageText.match(/(\\d{1,2}:\\d{2}|\\d{1,2}\\s*[صمpm]+)/);\n  appointmentDate = dateMatch ? dateMatch[1] : new Date().toISOString().split('T')[0];\n  appointmentTime = timeMatch ? timeMatch[1] : '10:00';\n}\n\n// If saving name, extract from message\nlet extractedName = userName;\nif (collectionStage === 'awaiting_name' || (collectionStage !== 'complete' && !userName)) {\n  const lastBotMsg = [...conversationMessages].reverse().find(m => m.role === 'assistant');\n  if (lastBotMsg && lastBotMsg.content && lastBotMsg.content.includes('اسمك')) {\n    extractedName = messageText.trim();\n    collectionStage = 'save_name';\n  }\n}\n\nlet extractedPhone = userPhone;\nif (collectionStage === 'save_phone') {\n  extractedPhone = messageText.replace(/[^\\d+]/g, '');\n}\n\nreturn [{\n  json: {\n    from,\n    userId,\n    conversationId,\n    propertyId,\n    botReply,\n    collectionStage,\n    userName: extractedName,\n    userPhone: extractedPhone,\n    appointmentDate,\n    appointmentTime,\n    conversationMessages,\n    messageText\n  }\n}];"
      },
      "id": "e02e46d0-372a-42e2-865d-de9869325a55",
      "name": "Check Data Collection Stage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"أنت مستشار عقاري محترف اسمك نور. أجب بالعربية فقط. مرحلة جمع البيانات: {{ $json.collectionStage }}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.collectionStage === 'awaiting_name' ? 'سعيد باهتمامك! للمتابعة، ما اسمك الكريم؟' : $json.collectionStage === 'awaiting_phone' ? 'شكراً ' + ($json.userName || '') + '! ما رقم هاتفك للتواصل؟' : $json.collectionStage === 'awaiting_appointment' ? 'ممتاز! ما هو الوقت المناسب لك لمعاينة العقار؟ (اليوم والساعة)' : 'شكراً جزيلاً! تم تسجيل موعدك بنجاح. سيتواصل معك فريقنا قريباً لتأكيد الموعد.' }}\"\n    }\n  ],\n  \"max_tokens\": 300,\n  \"temperature\": 0.6\n}",
        "options": {}
      },
      "id": "ade0cfb6-c17b-482c-9f1d-61fd70ba1f2f",
      "name": "Groq - Generate Data Collection Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2928,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://qvhozbdoktphgyndtthy.supabase.co/rest/v1/users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=sb_secret_1r3Tx42eB-cgIjoDL7wOhA_cCZ9rxKL"
            },
            {
              "name": "Authorization",
              "value": "=Bearer sb_secret_1r3Tx42eB-cgIjoDL7wOhA_cCZ9rxKL"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $('Check Data Collection Stage').item.json.userId }}\",\n  \"whatsapp_number\": \"{{ $('Check Data Collection Stage').item.json.from }}\",\n  \"name\": \"{{ $('Check Data Collection Stage').item.json.userName }}\",\n  \"phone\": \"{{ $('Check Data Collection Stage').item.json.userPhone }}\"\n}",
        "options": {}
      },
      "id": "445f77c4-fc28-4ad8-a4f3-1272355087aa",
      "name": "Supabase - Upsert User Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3152,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://qvhozbdoktphgyndtthy.supabase.co/rest/v1/appointments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=sb_secret_1r3Tx42eB-cgIjoDL7wOhA_cCZ9rxKL"
            },
            {
              "name": "Authorization",
              "value": "=Bearer sb_secret_1r3Tx42eB-cgIjoDL7wOhA_cCZ9rxKL"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $('Check Data Collection Stage').item.json.userId }}\",\n  \"listing_id\": \"{{ $('Check Data Collection Stage').item.json.propertyId }}\",\n  \"conversation_id\": \"{{ $('Check Data Collection Stage').item.json.conversationId }}\",\n  \"appointment_date\": \"{{ $('Check Data Collection Stage').item.json.appointmentDate }}\",\n  \"appointment_time\": \"{{ $('Check Data Collection Stage').item.json.appointmentTime }}\",\n  \"status\": \"pending\",\n  \"notes\": \"حجز عبر واتساب\"\n}",
        "options": {}
      },
      "id": "1ab05f16-039e-40f0-a41a-5fa6f321ea11",
      "name": "Supabase - Save Appointment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3376,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://qvhozbdoktphgyndtthy.supabase.co/rest/v1/rpc/upsert_conversation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=sb_secret_1r3Tx42eB-cgIjoDL7wOhA_cCZ9rxKL"
            },
            {
              "name": "Authorization",
              "value": "=Bearer sb_secret_1r3Tx42eB-cgIjoDL7wOhA_cCZ9rxKL"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_conversation_id\": \"{{ $('Detect Interest Flag').item.json.conversationId }}\",\n  \"p_user_id\": \"{{ $('Detect Interest Flag').item.json.userId }}\",\n  \"p_listing_id\": \"{{ $('Detect Interest Flag').item.json.propertyId }}\",\n  \"p_user_message\": {{ JSON.stringify({ role: 'user', content: $('Detect Interest Flag').item.json.messageText, timestamp: new Date().toISOString() }) }},\n  \"p_bot_message\": {{ JSON.stringify({ role: 'assistant', content: $('Detect Interest Flag').item.json.botReply, timestamp: new Date().toISOString() }) }}\n}",
        "options": {}
      },
      "id": "6bcb24d0-49c7-469a-8e68-739fd5506e4c",
      "name": "Supabase - Update Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3600,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WHATSAPP_API_URL }}/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $('Detect Interest Flag').item.json.from }}\",\n  \"message\": \"{{ $('Detect Interest Flag').item.json.botReply }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "279c46f1-7869-4ec0-8156-7475d7bbabd7",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3824,
        144
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\" }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "b44160fc-ad55-4c95-a889-96d7ca0a8ae3",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        4048,
        144
      ]
    }
  ],
  "pinData": {
    "WhatsApp Webhook": [
      {
        "json": {
          "from": "963991234567",
          "type": "text",
          "text": {
            "body": "السلام عليكم، أريد الاستفسار عن العقار #00000000-0000-0000-0002-000000000001"
          }
        }
      }
    ]
  },
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Parse & Normalize Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Normalize Message": {
      "main": [
        [
          {
            "node": "Input Type Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Type Router": {
      "main": [
        [
          {
            "node": "Groq - Transcribe Audio",
            "type": "main",
            "index": 0
          },
          {
            "node": "Groq - Describe Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Media Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq - Transcribe Audio": {
      "main": [
        [
          {
            "node": "Merge Media Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq - Describe Image": {
      "main": [
        [
          {
            "node": "Merge Media Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Media Back": {
      "main": [
        [
          {
            "node": "Supabase - Get or Create User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Get or Create User": {
      "main": [
        [
          {
            "node": "Supabase - Load Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Load Conversation": {
      "main": [
        [
          {
            "node": "Extract Property ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Property ID": {
      "main": [
        [
          {
            "node": "Supabase - Check Listing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Check Listing": {
      "main": [
        [
          {
            "node": "Listing Status Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listing Status Router": {
      "main": [
        [
          {
            "node": "Cohere - Embed User Question",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase - Get Similar Listings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cohere - Embed User Question": {
      "main": [
        [
          {
            "node": "Supabase - Query Knowledge Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Query Knowledge Base": {
      "main": [
        [
          {
            "node": "Groq - Generate Consultation Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq - Generate Consultation Reply": {
      "main": [
        [
          {
            "node": "Detect Interest Flag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Get Similar Listings": {
      "main": [
        [
          {
            "node": "Groq - Generate Alternatives Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq - Generate Alternatives Reply": {
      "main": [
        [
          {
            "node": "Detect Interest Flag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Interest Flag": {
      "main": [
        [
          {
            "node": "Interest Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interest Router": {
      "main": [
        [
          {
            "node": "Check Data Collection Stage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase - Update Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Data Collection Stage": {
      "main": [
        [
          {
            "node": "Groq - Generate Data Collection Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq - Generate Data Collection Prompt": {
      "main": [
        [
          {
            "node": "Supabase - Upsert User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Upsert User Data": {
      "main": [
        [
          {
            "node": "Supabase - Save Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Save Appointment": {
      "main": [
        [
          {
            "node": "Supabase - Update Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Update Conversation": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Reply": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "47a5d53d-3f79-43ad-9a4b-c93f1d5e3978",
  "meta": {
    "instanceId": "c8b35fe12417e52878293300b5586b3e619adc76a875a42b784c428128e0fa23"
  },
  "id": "ufEfgEoUWaGZnRw5",
  "tags": []
}